{% load quiz_extras %}

<form action="{% url 'cache_answer' question.question_id %}" method="post">
{% csrf_token %}
<h2>Cache paramters</h2>
<ul>
<li>{{ question.pattern.parameters.num_ways }} ways</li>
<li>{{ question.pattern.parameters.num_indices }} sets</li>
<li>{{ question.pattern.parameters.entry_size }} bytes per cache block</li>
</ul>
<h2>Cache access pattern</h2>
<ul>
{% for access in question.pattern.accesses %}
    <li>{{access.size}} bytes at address <code class="addr">{% format_hex access.address question.pattern.address_bits %}</code>:
        <input type="checkbox" name="access_hit_{{ forloop.counter0 }}" value="hit"><label for="access_hit_{{ forloop.counter0 }}">is hit?<label></li>
{% endfor %}
</ul>
<input type="submit" value="submit answers">
</form>
<h2>Expected result</h2>
<ul>
{% for result in question.pattern.access_results %}
    <li>result should be {% if result %}hit{% else %}miss{% endif %}</li>
{% endfor %}
</ul>
