{% extends "quiz/base_generic.html" %}


{% block title %}{% if show_correct %}CacheLab: cache parameter question (results){% else %}CacheLab: access pattern question{% endif %}{% endblock %}

{% block content %}
<h1>CacheLab: cache parameter question</h1>
<p>
You are logged in as <strong>{{user}}</strong>.
</p>

{% if mark_invalid %}
<p>
Some of your answers were missing or misformatted. They are shown with <span class="missing">red</span> below.
</p>
{% endif %}

{% if num_perfect > 0 and num_perfect < needed_perfect %}
<p>
You have gotten {{num_perfect}} of {{needed_perfect}} cache parameter questions completely correct, so
you have {{remaining_perfect}} more to complete. 
</p>
{% elif num_perfect > needed_perfect %}
<p>
You have more than {{needed_perfect}} cache parameter questions completely correct, so you have
completed this part of the lab. You can still work on additional questions <em>for practice only</em>
if you like.
</p>
{% endif %}

{% if show_correct %} <form>{% csrf_token %}
<p>
You got a score of {{answer.score}} out of {{answer.max_score}} on this question at {{answer.submit_time}}.
You can <button formmethod="POST" formaction="{% url 'new-parameter-question' %}">get a new question</button>
</p></form>
{% endif %}

<form method="POST" action="{% url 'parameter-answer' question.question_id %}">{% csrf_token %}
<p>
Fill in the missing cache parameters below.
Please enter values in <b>base-10</b>. However, you may use the suffices <i>K</i> (for 2 to the 10th), <i>M</i> (for 2 to the 20th), <i>G</i>, and <i>T</i>. For example, to represent then number <tt>32768</tt>, you can enter
either <tt>32K</tt> or <tt>32768</tt>.
When the size of a set, way, or cache is asked for, do not include metadata (like valid bits).
<table>
{% for row in params %}
    {% if row.given %}
    <tr>
        <td class="paramLabel">{{row.name}}:</td>
        <td><tt class="givenanswer">{{row.value.string}}</tt></td>
    </tr>
    {% else %}
    <tr 
        {% if mark_invalid and row.value.invalid %}
        class="missing"
        {% endif %}
    >
        <td class="paramLabel"><label for="{{row.id}}">{{ row.name }}:</label></td>
        <td><input 
            {% if show_correct %} disabled {% endif %}
            type="text" id="{{row.id}}" value="{{row.value.string}}" name="{{row.id}}">
        {% if show_correct %} {% if not row.value.correct %} (incorrect; correct answer: {{row.correct_value}}) {% else %} (correct) {% endif %} {% endif %}</td>
    </tr>
    {% endif %}
{% endfor %}
</table>
<input type="submit" value="submit answers" {% if show_correct %} disabled {% endif %}>
<input type="submit" value="save answers without submitting"
                                              name="is_save" 
                                            {% if show_correct %} disabled {% endif %}
                                              >
{% endblock %}
