{% extends "quiz/base_generic.html" %}


{% block title %}{% if show_correct %}CacheLab: access pattern quiz (results){% else %}CacheLab: access pattern quiz{% endif %}{% endblock %}

{% load quiz_extras %}

{% block content %}
<p><a href="{% url 'user-index' %}">return to lab index page</a></p>
<h1>CacheLab: access pattern quiz</h1>
<p>
You are logged in as <strong>{{user}}</strong>.
</p>

{% if show_correct %}
<p>
Showing answer submitted at {{ answer.submit_time }} which earned {{ answer.score }} out of  {{ answer.max_score }} points.<br />
If you'd like to try again, you can <form>{% csrf_token %}<button formmethod="POST" formaction="{% url 'new-pattern-question' %}">get a new question</button></form>
</p>
{% else %}
{% endif %}

{% if show_invalid %}
Some of your answers were missing or misformatted. They are shown with <span class="missing">red</span> below.
{% endif %}

<form action="{% url 'pattern-answer' question.question_id %}" method="post">
{% csrf_token %}
<p>
Consider a cache with the following parameters:
<ul>
<li>{{ question.pattern.parameters.num_ways }} ways</li>
<li>{{ question.pattern.parameters.num_sets }} sets</li>
<li>{{ question.pattern.parameters.block_size }} bytes per cache block</li>
<li>{{ question.pattern.parameters.offset_bits }} offset bits</li>
<li>{{ question.pattern.parameters.index_bits }} index bits</li>
<li>{{ question.pattern.parameters.cache_size_bytes }} bytes (total data)</li>
<li>an LRU replacement policy</li>
</ul>
<p>
Assuming the cache is <strong>initially empty</strong>. 
Then memory is accessed shown below. For each access, indicate how it is split into tag/index/offset, and whether it is a
hit or miss. Write all address parts in <strong>hexadecimal</strong>.
</p>
<p>
When identifying what address is evicted, write the address of the <strong>first byte of the evicted cache block</strong>.
</p>
{% if give_first > 0 %}
<p>
The first {{ give_first }} answers are given.
</p>
{% endif %}
<ul>
{% for access, old_answer, actual_answer, is_given in accesses_with_default_and_correct_and_given %}
        {% if debug_enable %}
            <li>DEBUG: {{ access.kind }}
        {% endif %}
        <li>
            <!-- access location/size -->
            {{access.size}} bytes at address <code class="addr">{% format_hex access.address question.pattern.parameters.address_bits %}</code>: <br>
            <!-- tag --> 
            <label for="access_index_{{ forloop.counter0 }}"
                {% if show_invalid and old_answer.tag.invalid %} class="missing" {% endif %}
            >tag:</label>
            <input type="text" id="access_tag_{{ forloop.counter0 }}"
                name="access_tag_{{ forloop.counter0 }}"
                value="{{ old_answer.tag.string }}"
                {% if show_correct or is_given %} disabled {% endif %} size="{{tag_width}}"
            >
            {% if show_correct %}
                (was{% if old_answer.index.correct %} correct{% else %} incorrect{% endif %};
                 correct answer: <tt>{{ actual_answer.tag.string }}</tt>)
            {% endif %}
            <!-- index -->
            <label for="access_index_{{ forloop.counter0 }}"
                {% if show_invalid and old_answer.index.invalid %} class="missing" {% endif %}
            >index:</label>
            <input type="text" id="access_index_{{ forloop.counter0 }}"
                   name="access_index_{{ forloop.counter0 }}"
                   value="{{ old_answer.index.string }}"
                   {% if show_correct or is_given %} disabled {% endif %} size="{{index_width}}"
            >
            {% if show_correct %}
                (was{% if old_answer.index.correct %} correct{% else %} incorrect{% endif %};
                 correct answer: <tt>{{ actual_answer.index.string }}</tt>)
            {% endif %}
            <!-- offset -->
            <label for="access_offset_{{ forloop.counter0 }}"
                {% if show_invalid and old_answer.offset.invalid %} class="missing" {% endif %}
            >offset:</label>
            <input type="text" name="access_offset_{{ forloop.counter0 }}"
                id="access_offset_{{ forloop.counter0 }}" value="{{ old_answer.offset.string }}"
                {% if show_correct or is_given %} disabled {% endif %} size="{{offset_width}}"
            >
            {% if show_correct %}
                (was{% if old_answer.offset.correct %} correct{% else %} incorrect{% endif %};
                 correct answer: <tt>{{ actual_answer.offset.string }}</tt>)
            {% endif %}
            <!-- hit/miss -->
            <fieldset {% if show_invalid and old_answer.hit.invalid and not is_given %}class="missing"{% endif %}>
                <!-- is hit? -->
                <input type="radio" id="access_hit_{{ forloop.counter0 }}_ishit" name="access_hit_{{ forloop.counter0 }}" value="hit"
                    {% if not old_answer.hit.invalid and old_answer.hit == True %} checked {% endif %}
                    {% if show_correct or is_given %} disabled {% endif %}
                    {% if ask_evict %}
                        onchange="document.getElementById('access_evict_{{ forloop.counter0 }}').disabled = !document.getElementById('access_hit_{{ forloop.counter0 }}_ismiss_evict').checked;"
                    {% endif %}
                ><label for="access_hit_{{ forloop.counter0 }}_ishit">hit</label>
                {% if ask_evict %}
                    <!-- is miss/no evict -->
                    <input type="radio" id ="access_hit_{{ forloop.counter0 }}_ismiss_noevict"
                        name="access_hit_{{ forloop.counter0 }}" value="miss-noevict"
                        {% if not old_answer.hit.invalid and old_answer.hit == False and old_answer.evicted == None %}
                            checked
                        {% endif %}
                        {% if show_correct or is_given %}
                            disabled
                        {% endif %}
                        onchange="document.getElementById('access_evict_{{ forloop.counter0 }}').disabled = !document.getElementById('access_hit_{{ forloop.counter0 }}_ismiss_evict').checked;"
                    ><label for="access_hit_{{ forloop.counter0 }}_ismiss_noevict">miss (not evicting anything)</label>
                    <!-- is miss/evict -->
                    <input type="radio" id ="access_hit_{{ forloop.counter0 }}_ismiss_evict"
                        name="access_hit_{{ forloop.counter0 }}" value="miss-evict"
                        {% if not old_answer.hit.invalid and old_answer.hit == False and old_answer.evicted != None %}
                            checked 
                        {% endif %}
                        {% if show_correct or is_given %}
                            disabled
                        {% endif %}
                        onchange="document.getElementById('access_evict_{{ forloop.counter0 }}').disabled = !document.getElementById('access_hit_{{ forloop.counter0 }}_ismiss_evict').checked;"
                    ><label for="access_hit_{{ forloop.counter0 }}_ismiss_evict">miss, </label>
                    <!-- miss/evict address -->
                    <label for="access_hit_{{ forloop.counter0 }}_miss_evict" 
                        {% if show_invalid and old_answer.evicted.invalid %} class="missing" {% endif %}>evicting</label>
                    <input type="text" id ="access_evict_{{ forloop.counter0 }}" name="access_evict_{{ forloop.counter0 }}" 
                        {% if old_answer.evicted != None %} value="{{ old_answer.evicted.string }}" {% endif %}
                        {% if show_correct or is_given or old_answer.evicted == None %} disabled {% endif %}>
                {% else %}
                    <!-- is miss -->
                    <input type="radio" id ="access_hit_{{ forloop.counter0 }}_ismiss" name="access_hit_{{ forloop.counter0 }}" value="miss"
                        {% if not old_answer.hit.invalid and old_answer.miss_noevict == True %} checked {% endif %}
                        {% if show_correct or is_given %} disabled {% endif %}
                        ><label for="access_hit_{{ forloop.counter0 }}_ismiss">miss</label>
                    </input>
                {% endif %}
                {% if show_correct %}
                    (was{% if old_answer.hit.correct %} correct{% else %} incorrect{% endif %};
                     correct answer:
                     {% if actual_answer.hit.value %}
                        hit
                     {% elif actual_answer.evicted.value != None %}
                        miss evicting {{ actual_answer.evicted.string }}
                     {% else %}
                        miss evicting nothing
                    {% endif %})
                {% endif %}
            {% if ask_evict %}
                <!-- reset hit/miss -->
                <button type="button" onclick="document.getElementById('access_hit_{{ forloop.counter0 }}_ishit').checked = false; document.getElementById('access_hit_{{ forloop.counter0 }}_ismiss_noevict').checked = false; document.getElementById('access_hit_{{ forloop.counter0 }}_ismiss_evict').checked = false;  document.getElementById('access_evict_{{ forloop.counter0 }}').disabled = !document.getElementById('access_hit_{{ forloop.counter0 }}_ismiss_evict').checked;"
                    {% if show_correct or is_given %} disabled {% endif %}
                    >reset hit/miss</button>
            {% else %}
                <!-- reset hit/miss -->
                <button type="button" onclick="document.getElementById('access_hit_{{ forloop.counter0 }}_ishit').checked = false; document.getElementById('access_hit_{{ forloop.counter0 }}_ismiss').checked = false; "
                    {% if show_correct or is_given %} disabled {% endif %}
                    >reset hit/miss</button>
            {% endif %}
            </fieldset>
{% endfor %}
    </li>
</ul>
<input type="submit" value="submit answers"
{% if show_correct %} disabled {% endif %}
>
<input type="submit" value="save answers without submitting"
{% if show_correct %} disabled {% endif %}
        name="is_save" value="1"
>
</form>
{% if debug_enable %}
<h2>Expected result</h2>
<ul>
{% for result in question.pattern.access_results %}
    <li>result should be {{ result.tag.string }} {{ result.index.string }} {{ result.offset.string }} {% if result.hit %}hit{% else %}miss{% endif %} (evicts {{ result.evicted.string }}</li>
{% endfor %}
{% endif %}
</ul>
{% endblock %}
