{% extends "exercises/base_generic.html" %}


{% block title %}{% if show_correct %}CacheLab: access pattern question (results){% else %}CacheLab: access pattern question{% endif %}{% endblock %}

{% load quiz_extras %}

{% block content %}
<p><a href="{% url 'user-index' %}">return to lab index page</a></p>
<h1>CacheLab: access pattern question</h1>
<p>
You are logged in as <strong>{{user}}</strong>.
</p>
{% if pattern_perfect %}
<p>
<span class="done">Congratulations!</span>
{% if parameter_perfect %}
You've <em>completed</em> the lab.
{% else %}
You've completed <em>this part</em> of the lab
by getting a perfect score once. But you still need to <strong><a href="{% url 'last-parameter-question' %}">complete
    some more cache parameter questions
    </a></strong>.
{% endif %}
</p>
{% if show_correct and answer.score != answer.max_score %}
<p class="again">
The problem below is one you attempted after completing the lab and did
not count for credit.
</p>
{% elif not show_correct %}
<p class="again">
Since you have completed the lab, you may attempt the additional problem below <em>for practice only</em>.
</p>
{% else %}
<p class="again">
You have completed the lab, but you may still request additional problems <em>for practice only</em>.
</p>
{% endif %}
{% endif %}

{% if show_correct %}<form>{% csrf_token %}
<p>
Showing answer submitted at {{ answer.submit_time }} which earned {{ answer.score }} out of  {{ answer.max_score }} points. {% if answer.score != answer.max_score %}Incorrect answers are shown with <span class="correction">red</span> corrections below.{% endif %}<br />
{% if show_old %}
You are reviewing an older submission. You can also view your <a href="{% url 'last-pattern-question' %}">most recent access pattern question</a>.
{% else %}
If you'd like to try again, you can
<button formmethod="POST" formaction="{% url 'new-pattern-question' %}">get a new question</button>
{% endif %}
</p>
</form>
{% endif %}

{% if have_old and not show_old %}
(You can also review your <a href="{% url 'pattern-question-list' %}">previous access pattern question answers</a>.)
{% endif %}

{% if show_invalid %}
Some of your answers were missing or misformatted. They are shown with <span class="missing">red</span> below.
{% endif %}

<form action="{% url 'pattern-answer' question.question_id %}" method="post">
{% csrf_token %}
<p>
Consider a cache with the following parameters:
<ul>
<li>{{ question.pattern.parameters.num_ways }} ways</li>
<li>{{ question.pattern.parameters.num_sets }} sets</li>
<li>{{ question.pattern.parameters.block_size }} bytes per cache block</li>
<li>{{ question.pattern.parameters.offset_bits }} offset bits</li>
<li>{{ question.pattern.parameters.index_bits }} index bits</li>
<li>{{ question.pattern.parameters.cache_size_bytes }} bytes (total data)</li>
<li>an LRU replacement policy</li>
</ul>
<p>
Assume the cache is <strong>initially empty</strong>. 
Then memory is accessed as shown below. For each access, indicate how it is split into tag/index/offset, and whether it is a
hit or miss. Write all address parts in <strong>hexadecimal</strong>.
</p>
<p>
When identifying what address is evicted, write the address of the <strong>first byte of the evicted cache block</strong>.
</p>
{% if give_first > 0 %}
<p>
The first {{ give_first }} answers are given.
</p>
{% endif %}
<ul>
{% for access, old_answer, actual_answer, is_given in accesses_with_default_and_correct_and_given %}
        {% if debug_enable %}
            <li>DEBUG: {{ access.kind }}
        {% endif %}
        <li>
            <!-- access location/size -->
            {{access.size}} bytes at address <code class="addr">{% format_hex access.address question.pattern.parameters.address_bits %}</code> (binary <code class="addr">{% format_bin access.address 12 %}</code>): <br>
            {% if show_correct %}
            {% if old_answer.tag.correct and old_answer.index.correct and old.answer.offset.correct and old_answer.hit.correct and old.answer.evicted.correct %}
            (correct)
            {% endif %}
            {% endif %}
            <!-- tag --> 
            <label for="access_index_{{ forloop.counter0 }}"
                {% if show_invalid and old_answer.tag.invalid %} class="missing" {% endif %}
            >tag:</label>
            <input type="text" id="access_tag_{{ forloop.counter0 }}"
                name="access_tag_{{ forloop.counter0 }}"
                value="{{ old_answer.tag.string }}"
                {% if show_correct or is_given %} disabled {% endif %} size="{{tag_width}}"
            >
            {% if show_correct %}
                {% if not old_answer.tag.correct %}
                <span class="correction">(incorrect; correct tag: <tt>{{ actual_answer.tag.string }}</tt>)</span>
                {% endif %}
            {% endif %}
            <!-- index -->
            <label for="access_index_{{ forloop.counter0 }}"
                {% if show_invalid and old_answer.index.invalid %} class="missing" {% endif %}
            >index:</label>
            <input type="text" id="access_index_{{ forloop.counter0 }}"
                   name="access_index_{{ forloop.counter0 }}"
                   value="{{ old_answer.index.string }}"
                   {% if show_correct or is_given %} disabled {% endif %} size="{{index_width}}"
            >
            {% if show_correct %}
                {% if not old_answer.index.correct %}
                <span class="correction">(incorrect; correct index: <tt>{{ actual_answer.index.string }}</tt>)</span>
                {% endif %}
            {% endif %}
            <!-- offset -->
            <label for="access_offset_{{ forloop.counter0 }}"
                {% if show_invalid and old_answer.offset.invalid %} class="missing" {% endif %}
            >offset:</label>
            <input type="text" name="access_offset_{{ forloop.counter0 }}"
                id="access_offset_{{ forloop.counter0 }}" value="{{ old_answer.offset.string }}"
                {% if show_correct or is_given %} disabled {% endif %} size="{{offset_width}}"
            >
            {% if show_correct %}
                {% if not old_answer.offset.correct %}
                <span class="correction">(incorrect; correct offset: <tt>{{ actual_answer.offset.string }}</tt>)</span>
                {% endif %}
            {% endif %}
            <!-- hit/miss -->
            <fieldset {% if show_invalid and old_answer.hit.invalid and not is_given %}class="missing"{% endif %}>
                <!-- is hit? -->
                <input type="radio" id="access_hit_{{ forloop.counter0 }}_ishit" name="access_hit_{{ forloop.counter0 }}" value="hit"
                    {% if not old_answer.hit.invalid and old_answer.hit.value == True %} checked {% endif %}
                    {% if show_correct or is_given %} disabled {% endif %}
                    {% if ask_evict %}
                        onchange="document.getElementById('access_evicted_{{ forloop.counter0 }}').disabled = !document.getElementById('access_hit_{{ forloop.counter0 }}_ismiss_evict').checked;"
                    {% endif %}
                ><label for="access_hit_{{ forloop.counter0 }}_ishit">hit</label>
                {% if ask_evict %}
                    <!-- is miss/no evict -->
                    <input type="radio" id ="access_hit_{{ forloop.counter0 }}_ismiss_noevict"
                        name="access_hit_{{ forloop.counter0 }}" value="miss-noevict"
                        {% if not old_answer.hit.invalid and old_answer.hit.value == False %}
                        {% if old_answer.evicted.value == None and old_answer.evicted.invalid == False %}
                            checked
                        {% endif %}
                        {% endif %}
                        {% if show_correct or is_given %}
                            disabled
                        {% endif %}
                        onchange="document.getElementById('access_evicted_{{ forloop.counter0 }}').disabled = !document.getElementById('access_hit_{{ forloop.counter0 }}_ismiss_evict').checked;"
                    ><label for="access_hit_{{ forloop.counter0 }}_ismiss_noevict">miss (not evicting anything)</label>
                    <!-- is miss/evict -->
                    <input type="radio" id ="access_hit_{{ forloop.counter0 }}_ismiss_evict"
                        name="access_hit_{{ forloop.counter0 }}" value="miss-evict"
                        {% if not old_answer.hit.invalid and old_answer.hit.value == False %} 
                        {% if old_answer.evicted.value != None or old_answer.evicted.invalid == True %}
                            checked 
                        {% endif %}
                        {% endif %}
                        {% if show_correct or is_given %}
                            disabled
                        {% endif %}
                        onchange="document.getElementById('access_evicted_{{ forloop.counter0 }}').disabled = !document.getElementById('access_hit_{{ forloop.counter0 }}_ismiss_evict').checked;"
                    ><label for="access_hit_{{ forloop.counter0 }}_ismiss_evict">miss, </label>
                    <!-- miss/evict address -->
                    <label for="access_evicted_{{ forloop.counter0 }}"
                        {% if show_invalid and old_answer.evicted.invalid %} class="missing" {% endif %}>evicting block starting at</label>
                    <input type="text" id ="access_evicted_{{ forloop.counter0 }}" name="access_evicted_{{ forloop.counter0 }}" 
                        {% if old_answer.evicted.value != None %} value="{{ old_answer.evicted.string }}" {% endif %}
                        {% if show_correct or is_given or old_answer.evicted.value == None %} disabled {% endif %}
                        size="{{evicted_width}}">
                {% else %}
                    <!-- is miss -->
                    <input type="radio" id ="access_hit_{{ forloop.counter0 }}_ismiss" name="access_hit_{{ forloop.counter0 }}" value="miss"
                        {% if not old_answer.hit.invalid and old_answer.miss_noevict == True %} checked {% endif %}
                        {% if show_correct or is_given %} disabled {% endif %}
                        ><label for="access_hit_{{ forloop.counter0 }}_ismiss">miss</label>
                    </input>
                {% endif %}
                {% if not old_answer.hit.correct or not old_answer.evicted.correct %}
                {% if show_correct %}
                <span class="correction">(incorrect; correct answer
                     {% if actual_answer.hit.value %}
                        hit
                     {% elif actual_answer.evicted.value != None %}
                         miss evicting <tt>{{ actual_answer.evicted.string }}</tt>
                     {% else %}
                        miss evicting nothing
                    {% endif %}
                )</span>
                {% endif %}
                {% endif %}
            {% if ask_evict %}
                <!-- reset hit/miss -->
                <button type="button" onclick="document.getElementById('access_hit_{{ forloop.counter0 }}_ishit').checked = false; document.getElementById('access_hit_{{ forloop.counter0 }}_ismiss_noevict').checked = false; document.getElementById('access_hit_{{ forloop.counter0 }}_ismiss_evict').checked = false;  document.getElementById('access_evicted_{{ forloop.counter0 }}').disabled = !document.getElementById('access_hit_{{ forloop.counter0 }}_ismiss_evict').checked;"
                    {% if show_correct or is_given %} disabled {% endif %}
                    >reset hit/miss</button>
            {% else %}
                <!-- reset hit/miss -->
                <button type="button" onclick="document.getElementById('access_hit_{{ forloop.counter0 }}_ishit').checked = false; document.getElementById('access_hit_{{ forloop.counter0 }}_ismiss').checked = false; "
                    {% if show_correct or is_given %} disabled {% endif %}
                    >reset hit/miss</button>
            {% endif %}
            </fieldset>
{% endfor %}
    </li>
</ul>
<input type="submit" value="submit answers"
{% if show_correct %} disabled {% endif %}
>
<input type="submit" value="save answers without submitting"
{% if show_correct %} disabled {% endif %}
        name="is_save" value="1"
>
</form>
{% if debug_enable %}
<h2>Expected result</h2>
<ul>
{% for result in question.pattern.access_results %}
    <li>result should be {{ result.tag.string }} {{ result.index.string }} {{ result.offset.string }} {% if result.hit.value %}hit{% else %}miss{% endif %} (evicts {{ result.evicted.string }})</li>
{% endfor %}
{% endif %}
</ul>
{% endblock %}
