{% extends "exercises/base_generic.html" %}

{% block title %}Index for {{user}}{% endblock %}

{% block content %}

<form>{% csrf_token %}<button formmethod="POST" formaction="{% url 'logout' %}">logout</button></form>

<p><a href="{{ course_website }}">return to course website</a></p>
<h1>CacheLab: main interface page</h1>

<p>
You are logged in as {{user}}.
</p>

<form>{% csrf_token %}
<p>
Goals for this lab:
<ul>
<li>
<p>{%if parameter_perfect %}<span class="done">[DONE]</span>{% else %}<span class="incomplete">[INCOMPLETE]</span>{% endif %} Complete <i>three</i> cache parameter questions without getting any parts wrong. You may keep attempting new problems until you get three correct.</p>
{% if parameter_perfect %}
<p>You have completed three cache parameter questions with a perfect score. You can still continue doing more of these problems
<em>for practice only</em>.</p>
{% elif parameter_complete >= 3 %}
<p>You have completed {{ parameter_complete }} cache parameter questions,
{% if parameter_perfect_count > 0 %}
    and got all answers correct on
    {{ parameter_perfect_count }} of them. (Best three scores: {{ parameter_score1 }} out of {{ parameter_score1_max }}, {{ parameter_score2 }} out of {{ parameter_score2_max }}, {{ parameter_score3 }} out of {{ parameter_score3_max }}.)
{% else %}
    but did not get all answers correct on any of them. (Best three scores: {{ parameter_score1 }} out of {{ parameter_score1_max }}, {{ parameter_score2 }} out of {{ parameter_score2_max }}, {{ parameter_score3 }} out of {{ parameter_score3_max }}.)
{% endif %}
</p>
{% elif parameter_complete < 3 %}
<p>You have completed {{ parameter_complete }} cache parameter questions, and gotten all answers correct on {{ parameter_perfect_count }} of them.</p>
{% endif %}
{% if parameter_in_progress %}
<p>You have cache paramter question in progress that you can <a href="{% url 'last-parameter-question' %}">continue working on by clicking here</a>.</p>
{% else %}
<p>You can <button formmethod="POST" formaction="{% url 'new-parameter-question' %}">request a new question</button>
{% endif %}
{% if not parameter_in_progress and parameter_complete > 0 %}
<p>You can also review the <a href="{% url 'last-parameter-question' %}">answer you submitted to the last parameter question</a>.</p>
{% endif %}
</li>
<li>
<p>{% if pattern_perfect %}<span class="done">[DONE]</span>{% else %}<span class="incomplete">[INCOMPLETE]</span>{% endif %}Complete <i>one</i> cache access pattern question without getting any answers wrong. You may keep attempting new problems until you get one completely correct.</p>
{% if pattern_perfect %}
<p>
You have completed one cache access pattern question with a perfect score. You can still continue doing more
of these problems <em>for practice only</em>.</p>
{% elif pattern_complete > 0 %}
<p>
You have completed {{ pattern_complete }} cache access pattern questions. Your best score was {{ pattern_score }}/{{ pattern_max_score }}.
</p>
{% else %}
<p>
You have completed 0 cache access pattern questions.
</p>
{% endif %}
{% if pattern_in_progress %}
<p>
You have a cache pattern question in progress that you can <a href="{% url 'last-pattern-question' %}">continue working on by clicking here</a>.
</p>
{% else %}
<p>
You can <button formmethod="POST" formaction="{% url 'new-pattern-question' %}">request a new question</button>
</p>
{% endif %}
{% if not pattern_in_progress and pattern_complete > 0 %}
<p>
You can also review your <a href="{% url 'last-pattern-question' %}">last answer</a>
</p>
{% endif %}
</li>
</ul>
</form>

{% if staff %}
<h2>Special controls for staff testing only:</h2>
<ul>
<li><form>{% csrf_token %}<button formmethod="POST" formaction="{% url 'forget-questions' %}">forget my old answers/questions</button></form>
    (This actually reassigns them to the user <tt>{{user}}+hidden</tt>.)</li>
<li><form>{% csrf_token %}<button formmethod="POST" formaction="{% url 'unforget-questions' %}">unforget my old answers/questions</button></form>
    (This reassigns all questions from the user <tt>{{user}}+hidden</tt> to <tt>{{user}}</tt>.)</li>
<li><form method="GET" action="{% url 'scores-csv' %}"><input type="submit" value="retrieve scores"> for due date <input type="text" name="due" value="2018-03-29T01:00-0400"></form></li>
</ul>
{% endif %}
{% endblock %}
